
/*ELEMENTS PRINCIPAUX*/



@font-face 
{
    font-family: 'Libre Franklin',sans-serif;
    font-weight: normal;
    font-style: normal;
}
html
{
    height: 100%;
}
body
{
    background-color: white;
    display: grid;
    grid-template-columns: 340px 900px;
    height: 100%;
    margin: 0px;
    font-family: 'Libre Franklin', sans-serif;
}

h1
{
    text-align: left;
    color: #696c73;
}

h2
{
    color: #F2B53A;
    text-align: left;
    margin-bottom: 70px;
}

h3 + ul
{
    text-align: justify;
}

h3
{
    padding-bottom: 12px;
    border-bottom: 3px solid #3984F1;
    margin-bottom: 40px; 
}






/*ASIDE*/


.aside
{   
    background-color: #3984F1;
    font-size: 140%;
}
figure
{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 60px; 
}

img
{
    border-radius: 50%;
    border: 1px solid blue;
    box-shadow: 2px 2px 2px black;
}
.aside_loisirs  p
{
    display: flex;
    margin: 40px;
    justify-content: space-between;
}
.fa-pencil-alt
{
    width: 20px;
    margin-right: 20px;
}
.fa-address-card
{
    width: 20px;
    margin-right: 20px;
}
.aside li
{
    list-style: none none;
}


.fa-headset
{
    width: 20px;
    margin-right: 20px;
}

.aside_contact
{
    margin-bottom: 70px;

}
.aside_propos
{
    margin-bottom: 900px;
}
h4
{   
    display:flex;
    background-color: #8f9484;
    padding: 7px;
}
.aside p
{
    padding-right: 10%;
}
.aside_loisirs p
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0px;
    padding: 0px;
}
.aside p
{
    margin-left: 40px;
}





/* MAIN*/



.main
{
    font-size: 130%;
    margin-left: 70px;
    color: #696c73;
}

.fa-dot-circle
{
    color: #F2B53A;
    margin-right: 10px;
}

article
{
    display: flex;
    flex-direction: row;
}
.date_lieu
{
    width: 45%;
    margin: 0;
    flex-direction: column;
}
.div_article,.recommandations_articles
{
    width: 70%;
    margin: 0;
    margin-bottom: 20px;
    flex-direction: column;
}
.liste_formation
{
    list-style-type: none;
}

h2  span
{
    border-bottom: 2px #1e1e2f solid;
}
h5
{
    margin: 0;
    font-size: 120%;
    font-style: normal;
    font-weight: bold;
}
h6
{
    font-size: 100%;
    font-style: oblique;
    margin: 0px;
}
.recommandations_articles h6
{
    font-size: 100%;
    font-style: normal;
}
.recommandations_articles
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main_recommandations  article
{
    flex-direction: column;
}

.recommandations_IUT
{
    width: 40%;
}

h1 span
{
    color: #3984F1;
}







/*MEDIA QUERY*/


@media screen and (min-width: 150px) and (max-width: 1000px) {
    body
    {
        display: block;
        
    }
    .main
    {
        margin-left: 0px;
        padding-left: 2%;
        padding-right: 2% 
    }
    
    figure
    {
       margin-top: 0px;
   }
   .div_article
   {
    justify-content: right;
    width: 100%;
    }
    .aside_propos
    {
        margin-bottom: 50px;
    }
    .aside
    {
        font-size: 130%
    }
    .main article
    {
        display:block;
        
    }
    .recommandations_articles
    {
        flex-direction: column;
        width: 100%;
    }
    .recommandations_IUT
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .date_lieu
    {
        width: 100%
    }
    br
    {
        display: none;
    }
    .aside_loisirs p
    {padding-bottom: 20px;
    }
}